html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: $primary-background-color;
  font-family: "TT Lakes", sans-serif;
  color: $primary-text-color;
  overflow-x: hidden !important;
  position: relative;
}

h1 {
  font-size: 28px;
  letter-spacing: -0.6px;
}

h2 {
  font-size: 24px;
  letter-spacing: -0.6px;
}

img {
  border-style: none;
  max-width:100%;
}

nav ul,
.languages ul,
.container ul {
  list-style:none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  appearance: none;
  overflow: hidden;
  pointer-events: none;
  outline: 0;
  outline-offset: 0;
}

.overlay {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}

.overlay--visible {
  display: block;
}

.blurred {
  position: absolute;
  top: 176px;
  right: 0;
  width: 20px;
  height: 40px;
  background: linear-gradient(to left,
          rgba(248, 248, 248, 1),
          rgba(248, 248, 248, 0));
}

.show-more .btn-img {
  width: 24px;
  height: 24px;
  background: url('../img/icons/expand-arrow.svg') center no-repeat;
}

.show-more {
  display: none;
}

.icon {
  transition: filter 0.2s linear;
}

.icon:hover{
  filter: drop-shadow(0 0 2px #da3568);
}