.burger-icon--closed,
.search-icon {
  width: 40px;
  height: 40px;
}

.burger-btn {
  background: url('../img/icons/burger.svg') no-repeat center,
              url($svg-background);
}

.call-icon {
  background: url('../img/icons/call.svg') no-repeat center,
              url($svg-background);
}

.chat-icon  {
  background: url('../img/icons/chat.svg') no-repeat center,
              url($svg-background);
}

.profile-icon {
  background: url('../img/icons/profile.svg') no-repeat center,
              url($svg-background);
}

.repair-icon {
  background: url('../img/icons/repair.svg') no-repeat center,
              url($svg-background);
}

.status-icon {
  background: url('../img/icons/status.svg') no-repeat center,
              url($svg-background);
}

.burger-icon--closed {
  background: url('../img/icons/burger-closed.svg') no-repeat center,
              url($svg-background);
}

.search-icon {
  background: url('../img/icons/search.svg') no-repeat center,
              url($svg-background);
}