.swiper {
    position: relative;
}
.swiper-pagination {
    position: static!important;
}

.swiper .swiper-slide {
    width: 240px;
    height: 72px;
    background-color: $white-color;
    border-radius: 6px;
    margin-right: 16px;
    display: grid;

    outline: 1px solid $divider-color;
    outline-offset: -1px;
}

.swiper-slide-active {
    margin-left: 20px;
}

.swiper-slide:first-child {
    margin-left: 16px;
}

.swiper .swiper-slide:last-child {
    margin-right: 20px;
    margin-left: 0;
}

.swiper-wrapper,
.swiper-pagination {
    margin-top: 16px;
}

.swiper .brand-link {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Crect x='1' y='1' width='38' height='38' rx='19' stroke='%23FF3E79' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.5 20L17.7071 16.2071C17.3166 15.8166 17.3166 15.1834 17.7071 14.7929L17.7929 14.7071C18.1834 14.3166 18.8166 14.3166 19.2071 14.7071L23.7929 19.2929C24.1834 19.6834 24.1834 20.3166 23.7929 20.7071L19.2071 25.2929C18.8166 25.6834 18.1834 25.6834 17.7929 25.2929L17.7071 25.2071C17.3166 24.8166 17.3166 24.1834 17.7071 23.7929L21.5 20Z' fill='%23FF3E79'/%3E%3C/svg%3E");
    transition: opacity 0.3s ease;
}

.brand-link:hover {
    opacity: 0.6;
}

.swiper-slide__wrapper {
    margin: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper-slide__wrapper img {
    height: fit-content;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 6px !important;
    background-color: #6D6D6D;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: $bullets-color;
}

/*Media */
@media (min-width: 768px) and (max-width: 1119px) {
    .section__header {
        padding: 16px 24px;
    }

    section .swiper {
        padding: 0 24px;
    }

    .swiper .swiper-slide {
        width: 224px;
    }

    .swiper .swiper-wrapper {
        gap: 16px 24px;
    }

    .brands--expand {
        height: 336px !important;
    }
}

@media (min-width: $tablet) {
    .brands-section::after {
        display: none;
    }

    section .swiper {
        display: grid;
        place-items: center;
        margin-top: 24px;
    }

    .swiper .swiper-wrapper {
        display: grid;
        grid-template-columns: 224px 224px 224px;
        width: inherit;
        height: 160px;
        margin: 0;
        overflow: hidden;
        transition: height 0.3s ease-in;
        transform: none !important;
    }

    .swiper .swiper-slide {
        margin: 0;
    }

    .swiper-pagination {
        display: none;
    }

    .show-more {
        display: block;
        width: 100%;
        margin-top: 24px;
    }

    .show-more__btn {
        height: 24px;
        display: flex;
        justify-content: center;

        font-family: inherit;
        font-weight: $medium;
        font-size: 16px;
        letter-spacing: -0.2px;
        transition: all 0.3s ease;
    }

    .show-more__btn:hover {
        color: $secondary-text-color;
    }

    .show-more__btn span:last-child {
        line-height: 24px;
        margin: 0 8px;
    }

    .show-more__btn span:first-child {
        transition: all 0.3s ease;
    }

    .show-more__btn--img-rotated {
        transform: rotate(180deg);
    }
}

@media (min-width: $desktop) {
    .swiper .swiper-wrapper {
        grid-template-columns: 240px 240px 240px 240px;
        gap: 16px 32px;
    }

    .brands--expand {
        height: 248px !important;
    }

    section .swiper {
        padding: 0 24px;
    }

    .section__header {
        padding: 16px 24px;
    }
}

@media (min-width: $desktop-wide) {
    .section__header {
        padding: 16px 32px;
    }

    section .swiper {
        padding: 0 32px;
    }

}



