$svg-background: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3C/svg%3E";

$regular: 400;
$medium: 500;
$bold: 700;

$primary-background-color: #F8F8F8;
$primary-color: #FF3E79;
$accent-color: #41F6D6;
$light-accent-color: #B8FFEC;
$primary-text-color: #1B1C21;
$secondary-text-color: #7E7E82;
$footer-text-color: #A0A0A3;
$bullets-color: #B5B6BC;
$divider-color: #EAEAEA;
$white-color: #FFFFFF;

$mobile-320: 320px;
$mobile-360: 360px;
$tablet: 768px;
$desktop: 1120px;